<h1>Update information for <%=@product.name() %></h1>

<form action="/product/<%= @product.id() %>/edit" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename the product:</label>
  <input id="name" name="name" type="text">
  <label for="price">Reprice the product:</label>
  <input id="price" name="price" type="float">

  <button class='button btn-danger' type="submit">Update</button>
</form>

<br>
<br>
<form action="/product/<%= @product.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <div class="span7 text-center">
    <button class= 'button btn-danger' type="submit">
      Delete A Product <%= @product.name() %> from the inventory.</button>
  </div>
</form>
